.card {
  border-color: white;
}

.btn{
  border-radius: 20pt;
}

.hidden-link {
  text-decoration: none;
}

a {

  &:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón */
  }
}
