.card {
  border: none;

}

.btn{
  border-radius: 20pt;
}

p, a, button {
  font-size: 10pt;
}

.hidden-link {
  text-decoration: none;
}

a {

  &:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón */
  }
}
