.btn{
  border-radius: 20pt;
  padding-left: 60pt;
  padding-right: 60pt;
  font-size: 10pt;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 10pt;
  font-family: 'Montserrat', sans-serif;

}

.images-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.small-img {
  width: 80px;
  height: auto;
  margin: 20px;
}

.small-img-sdg {
  width: 100px;
  height: auto;
  margin-bottom: 40px;
  margin-left: 20px;
}

h1 {
  font-size: 30pt;
}

.row {
  margin-top: 110pt;
}

.background-img {
  background-image: url('../../../assets/img/superearth.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .images-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .small-img, .small-img-sdg {
    margin: 20px;
    padding-left: 20px;
  }
}
