
<div class="container p-5 background-img">
  <div class="row pt-5">
    <div class="col-12">
      <h1 class="text-light fw-bold">Goals for Good</h1>
      <p class="text-white">Explore sustainability through the SDGs by comparing two photos, reflecting progress or challenges linked to specific global goals</p>
      <button class="btn btn-outline-light" [routerLink]="['/question']">Go!</button>
      <div class="images-container">
        <img class="small-img" src="assets/img/spaceapp.svg" alt="space logo">
        <img class="small-img-sdg" src="assets/img/logo global.png" alt="SDG Icons">
      </div>
    </div>
  </div>
</div>

