.btn{
  border-radius: 20pt;
  width: 140pt;
}

.card {
  border: none;
}

p, button {
  font-size: 10pt;
}


.background-image {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* Asegúrate de que no haya margen */
  padding: 0; /* Asegúrate de que no haya padding */
  overflow: hidden; /* Asegúrate de que no haya scroll */
}

.content {
  max-height: 100vh; /* Limita la altura máxima al 100% de la ventana */

}




