.btn{
  border-radius: 20pt;
  width: 140pt;
}


.background-image {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 30vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




