<ul class="nav p-3">
  <li class="nav-item pe-5">
    <h6>High Score:</h6>
  </li>
  <li class="nav-item pe-5">
    <h6>Score:</h6>
  </li>
  <li class="nav-item">
    <h6>Vidas:</h6>
  </li>
</ul>

<div class="row justify-content-center">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body p-5 text-center">
        <h3 class="card-title">texto imagen 1</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-body p-5 text-center">
        <h3 class="card-title">texto imagen 2</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="d-grid p-3 mb-4">
        <a class="btn btn-outline-primary mb-4" (click)="showAnswer()">respuesta 1</a>
        <a class="btn btn-outline-primary" (click)="showAnswer()">respuesta 2</a>
      </div>
    </div>
  </div>
</div>
