/* You can add global styles to this file, and also import other style files */
$primary-color: #00ffff;
$secondary-color: #d6efb5;
$success-color: #0c0c56;





/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
